<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         forceCoversAnnotation="true">

    <php>
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/</directory>
            <exclude>tests/Integ</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/data</directory>
                <file>src/functions.php</file>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
